<div class="form-container">
  <h2>{{ isEditMode ? "Edit User" : "Add User" }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
        placeholder="Enter full name"
      />
      <div
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
      >
        <span
          *ngIf="userForm.get('name')?.hasError('required')"
          class="text-danger"
          >Name is required.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        required
        placeholder="Enter username"
      />
      <div
        *ngIf="
          userForm.get('username')?.invalid && userForm.get('username')?.touched
        "
      >
        <span
          *ngIf="userForm.get('username')?.hasError('required')"
          class="text-danger"
          >Username is required.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        required
        placeholder="Enter email address"
      />
      <div
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
      >
        <span
          *ngIf="userForm.get('email')?.hasError('required')"
          class="text-danger"
          >Email is required.</span
        >
        <span
          *ngIf="userForm.get('email')?.hasError('email')"
          class="text-danger"
          >Invalid email format.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input
        type="text"
        id="mobile"
        name="mobile"
        formControlName="mobile"
        required
        placeholder="Enter mobile number"
      />
      <div
        *ngIf="
          userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched
        "
      >
        <span
          *ngIf="userForm.get('mobile')?.hasError('required')"
          class="text-danger"
          >Mobile is required.</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="mobile">Password:</label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
        required
        placeholder="Enter mobile password"
      />
      <div
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
      >
        <span
          *ngIf="userForm.get('password')?.hasError('required')"
          class="text-danger"
          >Password is required.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="mobile">Conform password:</label>
      <input
        type="text"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        required
        placeholder="Enter mobile Confirm Password"
      />
      <div
        *ngIf="
          userForm.get('confirmPassword')?.invalid &&
          userForm.get('confirmPassword')?.touched
        "
      >
        <span
          *ngIf="userForm.get('confirmPassword')?.hasError('required')"
          class="text-danger"
          >Confirm Password is required.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <textarea
        id="address"
        name="address"
        formControlName="address"
        required
        placeholder="Enter address"
      ></textarea>
      <div
        *ngIf="
          userForm.get('address')?.invalid && userForm.get('address')?.touched
        "
      >
        <span
          *ngIf="userForm.get('address')?.hasError('required')"
          class="text-danger"
          >Address is required.</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="userType">User Type</label>
      <select formControlName="role" id="userType">
        <option [value]="Type.Admin">Admin</option>
        <option [value]="Type.Customer">Customer</option>
        <option [value]="Type.Guest">Guest</option>
      </select>
      <div
        *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched"
      >
        <span
          *ngIf="userForm.get('role')?.hasError('required')"
          class="text-danger"
          >User Type is required.</span
        >
      </div>
    </div>

    <button
      type="submit"
      class="btn-submit"
      [disabled]="userForm.invalid"
      (click)="onSubmit()"
    >
      {{ isEditMode ? "Update User" : "Add User" }}
    </button>
  </form>
</div>
