<div *ngIf="loading$ | async" class="loading">Loading...</div>
<div *ngIf="error$ | async as error" class="error">{{ error }}</div>

<div class="table-container">
  <table *ngIf="data$ | async as data" class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>User Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td data-label="Name">{{ item.name }}</td>
        <td data-label="Username">{{ item.username }}</td>
        <td data-label="Email">{{ item.email }}</td>
        <td data-label="Mobile">{{ item.mobile }}</td>
        <td data-label="Address">{{ item.address }}</td>
        <td data-label="User Type">{{ item.userType }}</td>
        <td data-label="Action">
          <span>Edit</span>
          <span>Delete</span>
        </td>
      </tr>
    </tbody>
    <button
      class="btn btn-primary"
      onclick=""
      [routerLink]="'form'"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      add
    </button>
  </table>
</div>
